<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Telegram login web oqimidan qaytishni ushlaydi: elonuz://telegram?token=... -->
        <activity
            android:name=".social.TelegramAuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="elonuz" android:host="telegram" />
            </intent-filter>
        </activity>
    </application>
</manifest>
